*{
    margin: 0;
    padding: 0;
}

.circles{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #a6bbcb;
}

.circle{
    position: absolute;
    border-radius: 50%;
}

.circle1{
    background-color: green;
    width: 630px;
    height: 630px;
    margin:-315px 0 0 -315px;
}

.circle2{
    background-color: red;
    width: 420px;
    height: 420px;
    z-index: 1;
    margin: -220px 0 0 -220px;
}

.circle3{
    background-color: purple;
    width: 200px;
    height: 200px;
    z-index: 2;
    margin: -100px 0 0 -100px;
}

